<main class="md:mt-18 mb-4 max-w-2xl text-xl px-4 md:px-0 mx-auto">
  <div class="mt-14 mb-4 md:mb-10 md:grid md:grid-cols-6 items-center justify-center">
    <div class="col-span-4 font-mono pr-1">
      <h1
        class="text-center md:text-left text-2xl md:text-3xl tracking-wider md:tracking-widest font-bold text-stone-700 dark:text-gray-50">
        Mike Vormwald
      </h1>
      <h2
        class="text-center md:text-left text-xl md:text-2xl leading-3 text-neutral-500 dark:text-neutral-400 pt-2 px-2 md:px-0 md:pt-4">
        Software Engineer in Syracuse NY
      </h2>
    </div>

    <div class="col-span-2 mt-4 md:mt-0">
      <img class="block h-48 w-auto mx-auto rounded-full border-2 border-stone-300 drop-shadow-sm  dark:border-gray-50 p-1" src="/assets/images/profile.jpg"
        alt="Workflow" />
    </div>
  </div>

  <nav class="text-center text-base md:text-lg">
    {% include nav_links.html %}
  </nav>

</main>

