<nav>
  <div class="max-w-4xl mx-auto px-6 lg:px-0 ">
    <div class="flex justify-between items-center h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <a href="/" class="sm:block  text-lg font-semibold font-mono">

            Mike Vormwald
          </a>
        </div>
      </div>

      <div class="sm:ml-6 sm:flex items-center">
        <nav class="text-center md:text-left text-sm md:text-base">
          {% include nav_links.html %}
        </nav>
      </div>
    </div>
  </div>
</nav>